.App {
  text-align: center;
  font-family: 'Sniglet', cursive;
  position: fixed;
  height: 100%;
  width: 100%;
}

.App-header {
  background-color: #222;
  padding: 5px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  min-width: 300px;
}

.App-header h1 {
  font-size: 2.5rem;
  color: white;
  text-decoration: none;
  font-family: 'Sniglet', cursive;
}

.linkStyle:link {
  color: inherit;
  text-decoration: inherit;
}

.linkStyle:hover {
  color: inherit;
  text-decoration: inherit;
}

.linkStyle:visited {
  color: inherit;
  text-decoration: inherit;
}

.linkStyle:active {
  color: inherit;
  text-decoration: inherit;
}

.linkStyle:focus {
  color: inherit;
  text-decoration: inherit;
}

.App-mid-content {
  height: calc(100vh - 60px - 70px);
}

.App-cheapest-content {
  height: 70%;
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
}

.cheapest-container {
  height: 100%;
}

.App-home-content {
  height: calc(100vh - 60px - 70px);
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -30%);
  padding: 0px 10px;
  border-radius: 25px;
}

.btn {
  font-size: 2.5rem;
  color: white;
  text-decoration: none;
  font-family: 'Sniglet', cursive;
  border-radius: 10px;
  font-size: 20px;
  margin: 20px auto;
  padding: 10px 20px 10px 20px;
  border-style: none;
  background-color: #222;
  width: 200px;
}

.item-container {
  padding: 20px;
  border-bottom: 1px solid grey;
}

.item-container:hover {
  border-left: red solid 5px;
  background-color: lightgrey;
}

.item-details {
  padding: 0px 10px;
}

.item-name {
  text-align: left;
}

.item-restaurant {
  text-align: left;
}

.item-price {
  float: right;
}

.item-distance {
  float: right;
}

.BurgerList-MapContainer-Container {
  display: flex;
  flex-direction: row;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  left: 17.5px;
  top: 17.5px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #222;
  border-radius: 10px;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #222;
}

/* General sidebar styles */
.bm-menu {
  background-color: rgba(255, 255, 255, 1);
  padding: 0;
  font-size: 1.15em;
  overflow: scroll;
  overflow-x: hidden;
  height: 100%;
}
::-webkit-scrollbar {
  width: 0px; /* remove scrollbar space */
  background: transparent; /* optional: just make scrollbar invisible */
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  box-sizing: border-box;
  color: #222;
  /* overflow: hidden; */
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.info-window {
}
